@import "src/App";

.discount {
  &__offer {
    display: flex;

    @media screen and (max-width: 1020px) {
      flex-direction: column;
    }

  }

  &__title {
    text-align: center;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding-bottom: 59px;
  }

  &__order-button {
    margin: 80px auto 0 auto;
  }

  min-height: 926px;
  background-color: $greyColor;
  padding-top: 70px;

  @media screen and (max-width: 1020px) {
    padding-bottom: 60px;
  }
}

.discount-title {
  &__gold {
    color: $orangeColor;
  }

  &__white {
    color: $whiteColor;
  }

  font-weight: 700;
  @include adaptive-line-height(57, 30);
  @include adaptive-font(30, 5);
}

.discount-price {
  &__old {
    font-size: 36px;
    font-weight: 400;
    color: $lightGreyColor;
    text-decoration: line-through;
  }

  &__new {
    font-size: 48px;
    font-weight: 400;
    color: $whiteColor;
  }
}

.card {
  &__img {
    width: 195px;
  }

  &__top-text {
    color: $whiteColor;
    text-align: center;
    font-weight: 400;
    margin: 78px 0 0 0;

  }

  &__bottom-text {
    color: $orangeColor;
    text-align: center;
    font-weight: 400;

    margin: 0;


  }

  width: 195px;

  font-size: 18px;
  font-weight: 400;
  line-height: 21px;

  margin: 0 auto;

  @media screen and (max-width: 1020px) {
    margin-bottom: 80px;
  }

}

.card-upper {
  &__img {
    width: 420px;
  }

  &__top-text {
    margin: 45px 0 8px 0;

  }

  &__bottom-text {
  }

  width: 430px;

  font-size: 36px;
  font-weight: 400;
  line-height: 42px;

}

.discount-order-button {

  width: 256px;
  height: 56px;

  background-color: $orangeColor;
  color: $blackColor;

  font-weight: 400;
  font-size: 18px;
  line-height: 56px;

  text-align: center;

  border-radius: 7px;

  cursor: pointer;

}

