.main{
  height: 730px;

  background-color: #FCB500;

  position: relative;

  padding-left: 64px;
  padding-top: 96px;

}

.tagline{
  &__title{
    color: #FFFFFF;
    line-height: 152px;
    font-size: 144px;
    font-weight: 700;

    margin: 0;
  }

  &__description{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    width: 640px;
    height: 54px;
  }
}

.advantage{
  &__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin: 0;
  }

  &__description{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    width: 350px;
  }

  padding-top: 120px;
  z-index: 10;
}

.nootrisimg{
  &__lemon{
    height: 463px;
    width: 533px;

    z-index: 3;

    position: absolute;

    bottom: 100px;
    right: 180px;

  }

  &__nootris{
    height: 635px;
    width: 224px;

    z-index: 2;

    position: absolute;

    top: 0;
    right: 100px;

  }


  &__ginger{
    height: 409px;
    width: 496px;

    z-index: 1;

    position: absolute;

    top: 210px;
    right: 0;

  }

  position: absolute;

  top: 60px;
  right: 100px;

  height:984px;
  width: 816px;
}
