@import "src/App";

.main {
  height: 700px;

  background-color: $orangeColor;

  position: relative;

  padding-left: 64px;
  padding-top: 96px;

  @media (max-width: 999px) {
    height: 600px;
  }

  @media (max-width: 720px) {
    height: 600px;
  }

  @media (max-width: 420px) {
    height: 600px;
  }

}

.tagline {
  &__title {
    color: $whiteColor;
    @include adaptive-line-height(152, 15);
    @include adaptive-font(144, 10);
    font-weight: 700;
    margin: 0;
  }

  &__description {
    font-weight: 400;
    line-height: 28px;

    @include adaptive-font(24, 18);
    @include adaptive-line-height(28, 20);

    @include adaptive-width(640, 200);

    height: 54px;
  }

  position: relative;
  z-index: 10;

}

.advantage {
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin: 0;
  }

  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    @include adaptive-width(350, 200);
    margin: 10px 0 0 0;
  }

  padding-top: 100px;
  position: relative;
  z-index: 10;
}

.nootrisimg {
  &__lemon {
    height: 463px;
    width: 533px;

    z-index: 3;

    position: absolute;

    bottom: 140px;
    right: 180px;

  }

  &__nootris {
    height: 635px;
    width: 224px;

    z-index: 2;

    position: absolute;

    top: 0;
    right: 100px;

  }

  &__ginger {
    height: 409px;
    width: 496px;

    z-index: 1;

    position: absolute;

    top: 210px;
    right: 0;

  }

  position: absolute;

  bottom: -250px;
  right: 60px;

  height: 984px;
  width: 716px;

  @media (min-width: 979px) {
    transform: scale(1);
  }

  @media (min-width: 1000px) and (max-width: 1280px) {
    transform: scale(0.8) translate(15vw);
    bottom: -300px
  }

  @media (max-width: 999px) {
    transform: scale(0.6) translate(35vw);
    bottom: -350px

  }

  @media (max-width: 720px) {
    transform: scale(0.4) translate(90vw);
    bottom: -390px
  }

  @media (max-width: 600px) {
    transform: scale(0.35) translate(140vw);
    bottom: -410px
  }

  @media (max-width: 550px) {
    transform: scale(0.33) translate(160vw);
    bottom: -405px
  }

  @media (max-width: 450px) {
    transform: scale(0.31) translate(200vw);
    bottom: -405px
  }

  @media (max-width: 420px) {
    transform: scale(0.3) translate(250vw);
    bottom: -420px

  }
}
