@import "src/App";

.header {
  position: relative;

  height: 80px;
  background-color: $greyColor;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 64px;
  padding-right: 80px;
}

.navigation {
  &__item {
    text-decoration: none;
    color: $whiteColor;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-right: 40px;

    @media screen and (max-width: 1280px) {
      text-align: center;
      margin: 10px 0 10px 0;
      display: block;
    }

  }

  &__button {
    filter: invert(100%);
    width: 50px;
    cursor: pointer;
  }

  &__item:hover {
    color: $orangeColor;
  }


  @media screen and (max-width: 1280px) {

    position: absolute;

    margin: auto;
    left: 0;
    right: 0;

    border-radius: 5px;

    width: 250px;

    background-color: $greyColor;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    z-index: 12;
  }

}

.basket {
  &__img {

  }

  &__circle {
    position: absolute;
    bottom: -4px;
    right: -8px;
  }

  &__items {
    color: $blackColor;
    font-size: 12px;
    font-weight: 400;

    height: 32px;
  }

  &__items-extra {
    font-size: 10px;
  }

  position: relative;

  cursor: pointer;

}

.basket:hover {
  path {
    fill: $orangeColor;
  }
}

.logo {
  width: 120px;
  height: 35px;

  cursor: pointer;
}

.logo:hover {
  path {
    fill: $orangeColor;
  }
}

