@import "src/App";

.header {
  height: 80px;
  background-color: $greyColor;

  display: flex;
  align-items: center;
  gap: 104px 95px;

  padding-left: 64px;
}

.navigation {
  &__item {
    text-decoration: none;
    color: $whiteColor;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-right: 40px;
  }

  @media screen and (max-width: 1200px) {
    display: block;
  }

}

.basket {
  &__img {

  }

  &__circle {
    position: absolute;
    bottom: -4px;
    right: -8px;
  }

  &__items {
    color: $blackColor;
    font-size: 12px;
    font-weight: 400;

    height: 32px;
  }

  &__items-extra {
    font-size: 10px;
  }

  position: relative;

  cursor: pointer;
}

.logo {
  width: 120px;
  height: 35px;

  cursor: pointer;
}